*.pid
*.xml
*.csr
*.crt
*.key
*.pem
*.old
.ip_authenticated.yaml
google*.html
location.txt
mqttssl
appdaemon/appdaemon.yaml
appdaemon/*.log*
custom_components/
packages/lockmanager/
www/community/
www/*.png
www/custom_ui/floorplan/lib/
www/custom_ui/state-card-floorplan.html
www/github/
www/mini-graph-card-bundle.js
www/harmony/
www/custom-lovelace
www/tracker-card.js
www/vertical-stack-in-card.js
appdaemon/compiled
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
.spotify-token-cache
.uuid
.stignore
.vscode
gitupdate.sh
*.db-journal
config
lib
deps
tts
secrets.yaml
known_devices.yaml
.google_maps_location_sharing.cookies
*.conf
.homekit.state
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.storage
.Trash-0
*.config_entries
*.tmp
hadaemon
__pycache__/
entity_registry.yaml
notebooks
node-red
tensorflow
.google_maps_location*
# Include the following
!/.gitignore
